{% extends 'app_oj/base.html' %}
{% block title %}
Register Page
{% endblock title %}
{% block page_content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="user_name" class="form-label">帳號(user name)</label>
                  <input type="text" class="form-control" id="user_name" name="user_name" required>
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">密碼(Password):至少5個字元，包含英文字母和數字</label>
                  <input type="password" class="form-control" id="password" name="password" required   pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}$" title="至少5個字元，包含英文字母和數字">
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label">確認密碼(Confirm Password)</label>
                <input type="password" class="form-control" id="password2" name="password2" required
                       oninput="checkPasswordMatch();">
                <div id="password-match-message" class="form-text text-danger"></div>
            </div>
              <div class="mb-3">
                  <label for="full_name" class="form-label">全名(Full Name):顯示的名稱</label>
                  <input type="text" class="form-control" id="full_name" name="full_name" required>
              </div>
              <div class="mb-3">
                  <label for="user_class" class="form-label">班級或群組(Group or Class):若沒有，可以不填寫，採預設值"A"</label>
                  <input type="text" class="form-control" id="user_class" name="user_class" value="A" required>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
          </form>
      </div>
  </div>
</div>

<script>
    function checkPasswordMatch() {
        const password = document.getElementById('password');
        const password2 = document.getElementById('password2');
        const message = document.getElementById('password-match-message');
        
        if (password.value !== password2.value) {
            message.textContent = '密碼不一致';
            password2.setCustomValidity('密碼不一致');
        } else {
            message.textContent = '';
            password2.setCustomValidity('');
        }
    }
</script>

{% endblock page_content %}