{% extends "app_management/base_management.html" %}
{% block page_title %}
    匯出考題
{% endblock page_title %}
{% block page_content %}
    <div class="row mt-2">
        <h1>選擇要下載的 Contest</h1>
        <form method="post" action="{% url 'export_contest' %}">
            {% csrf_token %}
            <div class="form-group">
                {% for contest in contests %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contest_id" id="contest{{ contest.id }}" value="{{ contest.id }}">
                    <label class="form-check-label" for="contest{{ contest.id }}">
                        {{ contest.title }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">下載</button>
        </form>
    
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock page_content %}
