{% extends "app_management/base_management.html" %}
{% block page_title %}
    管理功能
{% endblock page_title %}
{% block page_content %}
{% load static %}
    <h1>管理功能</h1>
    <div class="container">
        <ul>
            <li>考題維護</li>
            <li>作業或競賽維護</li>
            <li>系統設定與上機考管制</li>
            <li>使用者批次匯入與匯出</li>
            <li>全體使用者之競賽成績總表下載</li>
            <li>Admin資料庫管理</li>
            <li>在Admin中可以批次匯出多位使用者完整資訊</li>
            <li>在Admin中可以對使用者進行修改密碼</li>
            <li>在Admin可以對考題或其他資料表進行匯入與匯出</li>
            <li>
                <a href="{% static 'app_oj/10-20-上機考試與考題編輯注意事項.pdf' %}" target='_blank'>注意事項pdf</a>
            </li>

        </ul>
    </div>
{% endblock page_content %}
