{% extends "app_management/base_management.html" %}
{% block page_title %}
  匯入題目
{% endblock page_title %}
{% block page_content %}
  <h3>匯入題目(匯出題目請至Admin，格式無id欄位，新增一筆非取代)</h3>
  <label>
    匯入考題之前，必須先將Language與Problem category兩個表格先匯入，否則匯入的考題會不完整!
  </label>
  <div class="col-6 mt-2">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="excel_file" class="form-control">
      <div class="row mt-2">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-sm btn-primary">確定匯入</button>
        </div>
      </div>
    </form>
  </div>
{% endblock page_content %}
{% block script_block %}
{% endblock script_block %}
