{% extends "app_management/base_management.html" %}
{% block page_title %}
    匯入新使用者
{% endblock page_title %}
{% block page_content %}
    <h4>只適用在匯入新使用者，或是管理者修改密碼後再次匯入更新密碼。其他功能請利用Admin管理</h4>
    
    <label>準備excel檔案，使用第一個worksheet，必須為純文字格式，用到以下4個欄位名稱: username, full_name,password, user_class。
      若已有重複的使用者(username相同者)，其它欄位內容會被更新。</label>
    <div class="mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="excel_file" class="form-control">
            <div class="row mt-2">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-sm btn-primary">確定匯入</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-3">
      <ul>
        <li>若要匯出所有的舊有使用者，請至Admin管理功能操作，點選Users，畫面右上方有IMPORT與EXPORT，選擇IMPORT匯出所有使用者，將檔案保存，不要修改。考試過後，選擇IMPORT匯入使用者的功能，將原先的使用者的檔案匯入。其密碼格式是有經過編碼。</li>
        <li>若要重設某位使用者的密碼，請至Admin管理功能操作。</li>
        <li>若要刪除部分的使用者，或全部使用者，請至Admin管理功能操作。</li>
        <li>刪除使用者,其排名也會被刪除，必須先下載保存。若有更新密碼，也有新增使用者,則再次匯入更新，會新增使用者,舊有的使用者只會被更新密碼,不會被刪除。</li>
      </ul>
  </div>
{% endblock page_content %}
{% block script_block %}
{% endblock script_block %}
