{% extends "app_management/base_management.html" %}
{% load static %}
{% block page_title %}
    新增考題
{% endblock page_title %}
{% block page_content %}
    <h3>新增考題Create Problem</h3>
    <form method="post" action="{% url 'problem_create' %}">
        {% csrf_token %}
        <div class="mb-3 mt-4">
            <label class="form-label">章節主題分類: 勾選一個包含到的主題，方便過濾篩選。可多選但沒必要，選一個包含範圍最大的主題即可</label>
            <div class="d-flex flex-wrap">
                {% for category in categories %}
                    <div class="form-check me-3">
                        <input class="form-check-input"
                               type="checkbox"
                               id="category{{ category.id }}"
                               name="categories"
                               value="{{ category.id }}">
                        <label class="form-check-label" for="category{{ category.id }}">{{ category.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <label class="form-label">題目標題: 須簡潔清楚，一看就知道其目的</label>
                <input type="text"
                       class="form-control bg-light text-primary"
                       name="title"
                       value="{{ problem.title }}">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">
                詳細描述題目: (1)可用Markdown語法，(2)數學公式MathJax格式inline:用'\\\\(' 和 '\\\\)'包圍,置中:用'$$'包圍。(3)注意每列尾端需有兩個空白才會換行、或每列之間用空白行隔開較利於閱讀。(4)程式碼中'小於'符號前後需有空白，否則格式會亂。星號*是markdown特殊符號，用作乘號，須在其前後置放空白，或用\*表示。若列印多個星號的題目，星號須用```包圍即可不影響格式。(5)程式碼儘量用```包圍。(6)這樣‵文字‵會變顯眼顏色。
            </label>
            <textarea class="form-control" name="description" id="description_mde">{{problem.description}}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">儲存</button>
        </div>
        <div class="mb-3">
            <label class="form-label">更多輸入輸出範例: 建議寫在前面的題目敘述內即可。未來版本可能會刪除這個欄位</label>
            <textarea name="input_output_description" id="input_output_description_mde">{{problem.input_output_description}}</textarea>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="std_input" class="form-label">
                    測資輸入: (1)若無輸入測資，留空即可。(2)若有輸入，注意每列字串的前面後面不要有多餘的空白。(3)整個字串最前與最後若有空白，存入資料庫前會被移除，但中間列的空白不會被自動移除。(4)多組測資必須用3個以上減號---依序隔開。
                </label>
            </div>
            <div class="col-md-6">
                <textarea class="form-control bg-light text-primary auto-resize"
                          id="std_input"
                          name="std_input"
                          rows="3"
                          style="font-family: 'Courier New', monospace;
                                 font-size: 14px;
                                 line-height: 1.2">{{problem.std_input}}</textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="std_output" class="form-label">
                    測資輸出: (1)須注意每列字串的前面若非必要不要有多餘的空白，除非像是列印星號前面故意要留空白(系統故意沒有移除文字最前面一行的最左側的空白)。(2)本系統會會將最後一列最後面(最右側)的多餘空白自動移除，Judger也會忽略最後一列最後面的多餘空白，不影響比對結果。(3)輸出換行或不換行，Judger判讀視為不同答案。(4)多組測資必須用3個以上減號"---"依序隔開。
                </label>
            </div>
            <div class="col-md-6">
                <textarea class="form-control bg-light text-primary auto-resize"
                          id="std_output"
                          name="std_output"
                          rows="3"
                          style="font-family: 'Courier New', monospace;
                                 font-size: 14px;
                                 line-height: 1.2">{{problem.std_output}}</textarea>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">儲存</button>
        </div>
        <div class="mb-3">
            <label class="form-label">選擇語言</label>
            <select class="form-control" id="language" name="language">
                {% for language in languages %}
                    <option value="{{ language.id }}"
                            {% if language.is_default %}selected{% endif %}>{{ language.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">
                樣板Template: 提交的程式碼可只要輸入類別、方法，類似於LeetCode。PREPEND區塊會插入在提交程式碼的前面;APPEND區塊會插入在提交程式碼的後面;TEMPLATE區域目前沒有使用。
            </label>
            <textarea class="form-control bg-light text-primary" name="template" rows="10">{{problem.template}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">參考答案、解題技巧說明: 給出題管理者做提交測試，也可設定在競賽結束後公開給使用者參考。非程式碼須用//或是/* */註解之。</label>
            <textarea id="editor"></textarea>
            <textarea id="sample_code" name="sample_code" hidden></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">儲存</button>
        </div>
    </form>
{% endblock page_content %}
{% block link_css %}
    <!-- EasyMDE CSS -->
    <link rel="stylesheet"
          href="{% static 'vendor/easymde/easymde.min.css' %}">
    <!-- Include highlight.js CSS for code color in problem description -->
    <link rel="stylesheet"
          href="{% static 'vendor/highlight/default.min.css' %}">
    <!-- For codeMirror -->
    <link rel="stylesheet"
          href="{% static 'vendor/codemirror/codemirror.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/codemirror/theme/monokai.min.css' %}">
{% endblock link_css %}
{% block script_block %}
    <!-- For Java code textarea 程式碼 -->
    <script src="{% static 'vendor/ace/ace.min.js' %}"></script>
    <!-- The following js is for math equation
    -->
    <script src="{% static 'vendor/mathjax/tex-chtml-full.min.js' %}"></script>
    <!-- This config is for MathJax, Ensure that the MathJax configuration script comes before the script that loads -->
    <!-- $ $ inline 似乎與其他套件有衝突 只能使用 "\\(", "\\)" -->
    <script type="text/x-mathjax-config">
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ["\\(", "\\)"]],
        processEscapes: true,
      }
    }
    </script>
    <!-- marked.js 在前端渲染 建議在後端渲染較佳 -->
    <script src="{% static 'vendor/marked/marked.min.js' %}"></script>
    <!-- This js is for markdown editor -->
    <!-- EasyMDE JS -->
    <script src="{% static 'vendor/easymde/easymde.min.js' %}"></script>
    <!-- Include highlight.js JavaScript for coloring code -->
    <script src="{% static 'vendor/highlight/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    <!-- For Java code textarea 提交程式碼區 -->
    <!-- CodeMirror程式碼編輯區 -->
    <script src="{% static 'vendor/codemirror/codemirror.min.js' %}"></script>
    <script src="{% static 'vendor/codemirror/mode/clike/clike.min.js' %}"></script>
    <script>
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
        lineNumbers: true,
        mode: "text/x-java",
        theme: "monokai",
        autoRefresh: true,
        viewportMargin: Infinity
    });

    editor.setSize("100%", 500);

    // Update hidden textarea on form submit
    document.querySelector('form').addEventListener('submit', function () {
      document.getElementById('sample_code').value = editor.getValue();
    });
    </script>
    <script>
      const easyMDE_description = new EasyMDE({
        element: document.getElementById("description_mde"),
        spellChecker: false,
        lineWrapping: false, // Set to true to enable line wrapping
        minHeight: "300px",  // Set the minimum height of the editor
        tabSize: 4,
        autosave: {
          enabled: true,
          delay: 1000,
          //uniqueId: "MyUniqueID", 
        },
        previewRender: function(plainText, preview) { // Async method
            //result = my_fun(plainText);
            //preview.innerHTML = result;
            //MathJax.typeset();
            setTimeout(function(){
                //console.log(plainText);
                //preview.innerHTML = my_fun(plainText);
                //preview.innerHTML = preview.innerHTML;
                //preview.innerHTML = window.marked.parse(plainText);
                //console.log(window.marked);
                preview.innerHTML = marked.parse(plainText);
                //console.log(preview);
                MathJax.typeset();
            }, 250);
            return "轉格式中...";
        },
      });

      const easyMDE_input_output_description = new EasyMDE({
        element: document.getElementById("input_output_description_mde"),
        spellChecker: false,
        autosave: {
          enabled: true,
          delay: 1000,
          //uniqueId: "MyUniqueID", 
        },
        lineWrapping: false, // Set to true to enable line wrapping
        minHeight: "100px",  // Set the minimum height of the editor
        tabSize: 4,
        previewRender: function(plainText, preview) { // Async method
            //result = my_fun(plainText);
            //preview.innerHTML = result;
            //MathJax.typeset();
            setTimeout(function(){
                //console.log(plainText);
                //preview.innerHTML = my_fun(plainText);
                //preview.innerHTML = preview.innerHTML;
                //preview.innerHTML = window.marked.parse(plainText);
                //console.log(window.marked);
                preview.innerHTML = marked.parse(plainText);
                //console.log(preview);
                MathJax.typeset();
            }, 250);
            return "轉格式中...";
        },
      });
      
      //
      //easyMDE.codemirror.on("change", () => {
      //  console.log(easyMDE.value());
      //});
    </script>
    <!-- 可將Textarea自動調整高度，不必用捲軸。引入 autosize 插件 -->
    <script src="{% static 'vendor/autosize/autosize.min.js' %}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        autosize(document.querySelectorAll('textarea.auto-resize'));
    });
    </script>
{% endblock script_block %}
