{% extends "app_management/base_management.html" %}
{% block page_title %}
  考題列表
{% endblock page_title %}
{% block page_content %}
  <div class="container mt-2">
    <h4>考題維護</h4>
    <form method="GET" action="{% url 'problem_list' %}">
      <button type="submit" class="btn btn-sm btn-primary">過濾題目</button>
      <div class="mb-3">
        <div id="categories">
          <div class="row">
            {% for category in categories %}
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input"
                         type="checkbox"
                         name="selected_categories"
                         value="{{ category.name }}"
                         id="category{{ category.id }}"
                         {% if category.name in selected_categories %}checked{% endif %} />
                  <label class="form-check-label" for="category{{ category.id }}">{{ category.name }}</label>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">題目主題</th>
          <th scope="col">語言</th>
          <th scope="col">標題(點選進入:管理者提交考題測試)</th>
          <th scope="col">隸屬競賽(點選進入:競賽題目維護)</th>
          <th scope="col">考題管理功能</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems %}
          <tr>
            <td>{{ problem.id }}</td>
            <td>
              <small>
                {% for category in problem.categories.all %}
                  {{ category.name }}
                  {% if not forloop.last %},{% endif %}
                {% empty %} 未分類
                {% endfor %}
              </small>
            </td>
            <td>
              <small>{{ problem.language }}</small>
            </td>
            <td>
              <a href="{% url 'problem_submit' problem.pk %}">{{ problem.title }}</a>
            </td>
            <td>
              <small>
                {% for contest in problem.contests.all %}
                  <a href="{% url 'contest_problems_manage' contest.pk %}">{{ contest.title }},</a>
                {% endfor %}
              </small>
            </td>
            <td>
              <a type="button"
                 class="btn btn-sm btn-warning"
                 href="{% url 'problem_update' problem.pk %}"
                 target="_blank">修改</a>
              {% comment %} 注意這裡頁次名稱改為 prblm_page_num 避免與problem_belongs_to頁面的 contests paginator 的 page 衝突 {% endcomment %}
              <a type="button"
                 class="btn btn-sm btn-info"
                 href="{% url 'problem_belongs_to' problem.pk %}?prblm_page_num={{ problems.number }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}">+競賽</a>
              <a type="button"
                 class="btn btn-sm btn-success"
                 href="{% url 'problem_duplicate' problem.pk %}?page={{ problems.number }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}">複製</a>
              <a type="button"
                 class="btn btn-sm btn-danger delete_this"
                 href="{% url 'problem_delete' problem.pk %}?page={{ problems.number }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}"
                 data-title="{{ problem.title }}">Del</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if problems.paginator.num_pages > 1 %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if problems.has_previous %}
            <li class="page-item">
              <a class="page-link"
                 href="?page=1{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}"
                 aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link"
                 href="?page={{ problems.previous_page_number }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}"
                 aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for num in problems.paginator.page_range %}
            <li class="page-item {% if problems.number == num %}active{% endif %}">
              <a class="page-link"
                 href="?page={{ num }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}">{{ num }}</a>
            </li>
          {% endfor %}
          {% if problems.has_next %}
            <li class="page-item">
              <a class="page-link"
                 href="?page={{ problems.next_page_number }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}"
                 aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link"
                 href="?page={{ problems.paginator.num_pages }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}"
                 aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
  <script>
  $(".delete_this").click(function () {
    var title = $(this).data("title");
    var result = window.confirm('確定刪除? "' + title + '"');
    if (result == false) {
      //e.preventDefault();
      return false;
    }
  });
  </script>
{% endblock page_content %}
